@import "common/font";
@import "common/theme";
@import "common/icons";

@import "partials/navbar";

* {
    box-sizing: border-box;
}

html {
    font-family: "Rubik", sans-serif;
}

body {
    background: var(--c-bg);
    color: var(--c-text-1);
    margin: 0;
    display: flex;
    flex-direction: column;
}

pre {
    padding: 16px;
    border-radius: 8px;
    width: fit-content;
    background: var(--c-code-bg) !important;
}

a {
    color: #50b2e7;
}

main {
    align-self: center;
    width: 100%;
    max-width: calc(1280px - 32px);
    padding: 0 16px;
}

.title-soft {
    color: var(--c-text-3);
}

.tag {
    background: var(--c-tag-bg-lime);
    color: var(--c-tag-text-lime);
    font-weight: bold;
    padding: 3px 9px;
    margin: 8px 0;
    border-radius: 6px;
    margin-block-end: 0;

    &.amber {
        background: var(--c-tag-bg-amber);
        color: var(--c-tag-text-amber);
    }

    &.lime {
        background: var(--c-tag-bg-lime);
        color: var(--c-tag-text-lime);
    }

    &.emerald {
        background: var(--c-tag-bg-emerald);
        color: var(--c-tag-text-emerald);
    }
}

.post {
    position: relative;
    width: 100%;
    background: var(--c-panel-1);
    padding: 1.5rem;
    border-radius: 12px;
    margin-bottom: 16px;

    header { 
        h2 {
            margin: 0;
            display: inline-flex;
            gap: 12px;

            .ico {
                background: var(--c-text-2);
            }
        }

        .tags {
            display: flex;
            gap: 8px;
        }
    }

    footer {
        color: var(--c-text-2);

        p {
            margin-block-end: 0;
        }

        .post-date {
            color: var(--c-text-3);
            font-style: italic;
        }
    }
}

.post-link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
