<div class="latest">
    <!-- Latest blog post -->
    {% if false %}
    {% set blog_section = get_section(path="blog/_index.md") %}
    {% set blog_post = blog_section.pages | first %}
    <h2 class="title-soft">Latest blog post</h2>
    <article class="post">
        <header>
            <h2>
                <i class="ico blog-link"></i>
                {{ blog_post.title | safe }}
            </h2>
            <div class="tags">
                {% if blog_post.extra.tags %}
                {% for tag in blog_post.extra.tags %}
                <p class="tag {{ tag.color }}">{{ tag.name | safe }}</p>
                {% endfor %}
                {% endif %}
            </div>
        </header>

        <footer>
            <p>{{ blog_post.description }}</p>
            <p class="date">{{ blog_post.date | date(format="%Y-%m-%d") }}</p>
        </footer>

        <a class="post-link" href="{{ blog_post.permalink }}"></a>
    </article>
    {% endif %}

    <!-- Latest article post -->
    {% set article_section = get_section(path="articles/_index.md") %}
    {% set article_post = article_section.pages | first %}
    <h2 class="title-soft">Latest article</h2>
    <article class="post">
        <header>
            <h2>
                <i class="ico article-link"></i>
                {{ article_post.title | safe }}
            </h2>
            <div class="tags">
                {% if article_post.extra.tags %}
                {% for tag in article_post.extra.tags %}
                <p class="tag {{ tag.color }}">{{ tag.name | safe }}</p>
                {% endfor %}
                {% endif %}
            </div>
        </header>

        <footer>
            <p>{{ article_post.description }}</p>
            <p class="date">{{ article_post.date | date(format="%Y-%m-%d") }}</p>
        </footer>

        <a class="post-link" href="{{ article_post.permalink }}"></a>
    </article>
</div>
