<div class="latest">
    <h2 class="title-soft">Latest Articles</h2>
    <!-- Latest article posts -->
    {% set article_section = get_section(path="articles/_index.md") %}
    {% set article_filtered = article_section.pages | filter(attribute="extra.hidden", value=false) %}
    {% for article_post in article_filtered | slice(end=6) %}
    {% if article_post %}
    <article class="post">
        <header>
            <h2>
                <i class="ico article-link"></i>
                {{ article_post.title | safe }}
            </h2>
            <div class="tags">
                {% if article_post.extra.tags %}
                {% for tag in article_post.extra.tags %}
                <p class="tag {{ tag.color }}">{{ tag.name | safe }}</p>
                {% endfor %}
                {% endif %}
            </div>
        </header>

        <footer>
            <p>{{ article_post.description }}</p>
            <p class="date">{{ article_post.date | date(format="%Y-%m-%d") }}</p>
        </footer>

        <a class="post-link" href="{{ article_post.permalink }}"></a>
    </article>
    {% endif %}
    {% endfor %}
</div>
