<div class="img2x1">
    {% if width1 %} {% if width2 %}
    
    <div class="img">
        <img src="{{src1}}" width="{{width1}}" alt="{{alt1 | safe}}" title="{{alt1 | safe}}">
        <i>{{alt1 | safe}}</i>
    </div>
    <div class="img">
        <img src="{{src2}}" width="{{width2}}" alt="{{alt2 | safe}}" title="{{alt2 | safe}}">
        <i>{{alt2 | safe}}</i>
    </div>

    {% else %}
    
    <div class="img">
        <img src="{{src1}}" width="{{width1}}" alt="{{alt1 | safe}}" title="{{alt1 | safe}}">
        <i>{{alt1 | safe}}</i>
    </div>
    <div class="img">
        <img src="{{src2}}" width="{{width1}}" alt="{{alt2 | safe}}" title="{{alt2 | safe}}">
        <i>{{alt2 | safe}}</i>
    </div>
    
    {% endif %}

    {% else %}
    
    <div class="img">
        <img src="{{src1}}" width="360px" alt="{{alt1 | safe}}" title="{{alt1 | safe}}">
        <i>{{alt1 | safe}}</i>
    </div>
    <div class="img">
        <img src="{{src2}}" width="360px" alt="{{alt2 | safe}}" title="{{alt2 | safe}}">
        <i>{{alt2 | safe}}</i>
    </div>

    {% endif %}
</div>
