<div class="img">
    {% if alt %}
        {% if width %}
            <img src="{{ get_url(path = src) }}" width="{{width}}" alt="{{alt | safe}}" title="{{alt | safe}}">
        {% else %}
            <img src="{{ get_url(path = src) }}" width="360px" alt="{{alt | safe}}" title="{{alt | safe}}">
        {% endif %}
        <i>{{alt | safe}}</i>
    {% else %}
        {% if width %}
            <img src="{{ get_url(path = src) }}" width="{{width}}">
        {% else %}
            <img src="{{ get_url(path = src) }}" width="360px">
        {% endif %}
    {% endif %}
</div>
