<div class="video">
    {% if width %}
    <video style="width: {{width}}" class="video" muted autoplay playsinline loop>
        <source src="{{ get_url(path = file) }}" type="video/mp4">
        Video tag is not supported.
    </video> 
    {% else %}
    <video style="width: 360px" class="video" muted autoplay playsinline loop>
        <source src="{{ get_url(path = file) }}" type="video/mp4">
        Video tag is not supported.
    </video> 
    {% endif %}
    
    {% if alt %}
    <i>{{alt | safe}}</i>
    {% endif %}
</div>
