footer.site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0 2rem 0;
    width: 100%;

    .end-msg {
        font-family: "Monocraft", monospace;
        color: var(--c-text-2);
        font-size: 14px;
        margin: auto;
    }

    .socials {
        margin-top: 1rem;
        display: inline-flex;
        gap: 8px;

        a {
            color: var(--c-stone-100);
        }
    }

    i {
        color: var(--c-text-3);
        font-size: 14px;
        margin-top: 1rem;
    }
}
