footer.site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0 2rem 0;

    .end-msg {
        font-family: "Monocraft", monospace;
        color: var(--c-text-2);
        font-size: 14px;
        margin: auto;
    }

    i {
        color: var(--c-text-3);
        font-size: 14px;
        margin-top: 2rem;
    }
}
