.navbar {
    width: 100%;
    height: 64px;
}

.navbar .bar {
    width: 100%;
    height: 64px;
    margin: auto;

    background: url('/img/m4xc-banner.jpg');
    background-size: cover;
    background-position: 0 65%;
    border-bottom: 2px solid #fff2;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 14px 16px;

    nav {
        display: flex;
        gap: 24px;
    }
}

.navbar .title {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    margin: 0 0 4px 8px;
    color: var(--c-stone-100);
}

.navbar .socials {
    display: inline-flex;
    gap: 8px;

    a {
        color: var(--c-stone-100);
    }
}
