{% extends "index.html" %}

<!-- Includes -->
{% block head %}

<!-- CSS -->
<link rel="stylesheet" href="{{ get_url(path="sections/projects.css", trailing_slash=false) }}">

{% endblock head %}

<!-- Content -->
{% block content %}

<div class="projects">
    {% for page in section.pages | reverse %}
    <article class="project">
        <header style="background-image: url('{{ get_url(path=page.extra.banner, trailing_slash=false) }}')">
            <h2>
                {{ page.title | safe }}
            </h2>
            <div class="tags">
                {% if page.extra.tags %}
                {% for tag in page.extra.tags %}
                <p class="tag {{ tag.color }}">{{ tag.name | safe }}</p>
                {% endfor %}
                {% endif %}
            </div>
        </header>

        <footer>
            <p>{{ page.description }}</p>
            <p class="date">{{ page.date | date(format="%Y-%m-%d") }}</p>
        </footer>

        <a class="project-link" href="{{ page.permalink }}"></a>
    </article>
    {% endfor %}
</div>

{% endblock content %}
