<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ get_url(path="general.css", trailing_slash=false) }}">

    {% if config.generate_feed %}
    <link rel="alternate" type={% if config.feed_filename=="atom.xml" %}"application/atom+xml"{% else
        %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
    {% endif %}

    <!-- So pages can add their own head elements -->
    {% block head %}
    {% endblock head %}
</head>

<body>
    <div class="gradient-bg"></div>
    {% include "partials/navbar.html" %}

    <main>
        {% block content %}
        {% include "sections/home.html" %}
        {% endblock content %}

        {% include "partials/footer.html" %}
    </main>

</body>

</html>