<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

    <title>MΛX - {% block title %}{{ config.title }}{% endblock title %}</title>

    <meta name="copyright" content="{{ config.extra.copyright }}"/>
    <meta name="description" content="{% block description %}MΛX's personal website.{% endblock description %}">

    {% block splash %}
    <!-- Google / Search Engine Tags -->
    <meta itemprop="image" content="{{ get_url(path="img/splash.png", trailing_slash=false) }}">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://m4xc.dev/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ get_url(path="img/splash.png", trailing_slash=false) }}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ get_url(path="img/splash.png", trailing_slash=false) }}"> 
    {% endblock splash %}
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ get_url(path="general.css", trailing_slash=false) }}">

    {% if config.generate_feed %}
    <link rel="alternate" type={% if config.feed_filename=="atom.xml" %}"application/atom+xml"{% else
        %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
    {% endif %}

    <!-- So pages can add their own head elements -->
    {% block head %}
    {% endblock head %}
</head>

<body>
    <div class="gradient-bg"></div>
    {% include "partials/navbar.html" %}

    <main>
        {% block content %}
        {% include "sections/home.html" %}
        {% endblock content %}

        {% include "partials/footer.html" %}
    </main>

</body>

</html>