{% extends "index.html" %}

{% block title %}{{page.title}}{% endblock title %}
{% block description %}{{page.description}}{% endblock description %}

<!-- Includes -->
{% block head %}

{% if page.authors %}
<meta name="author" content="{{ page.authors | join(sep=",&nbsp;") | safe }}"/>
{% endif %}

{% if page.extra.tags %}
<meta name="keywords" content="{{ page.extra.tags | map(attribute="name") | join(sep=",&nbsp;") | safe }}"/>
{% endif %}

<!-- CSS -->
<link rel="stylesheet" href="{{ get_url(path="sections/post.css", trailing_slash=false) }}">

<!-- JS -->
{% include "partials/math.html" %}

{% endblock head %}

<!-- Content -->
{% block content %}
<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-sub">
        {% include "partials/post-meta.html" %}
    </span>
    {{ page.content | safe }}
</div>
{% endblock content %}
