{% extends "index.html" %}

{% block content %}

<div class="posts">
    {% for page in section.pages | reverse %}
    <article class="post">
        <header>
            <h2>
                <i class="ico {{ section.extra.icon }}"></i>
                {{ page.title | safe }}
            </h2>
            <div class="tags">
                {% if page.extra.tags %}
                {% for tag in page.extra.tags %}
                <p class="tag {{ tag.color }}">{{ tag.name | safe }}</p>
                {% endfor %}
                {% endif %}
            </div>
        </header>

        <footer>
            <p class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</p>
        </footer>

        <a class="post-link" href="{{ page.permalink }}"></a>
    </article>
    {% endfor %}
</div>

{% endblock content %}
