// Standard
a {
    color: var(--c-link);
}

hr {
    color: var(--c-text-3);
    border-width: 1.5px;
    opacity: .25;
    margin-top: 3rem;
}

blockquote {
    border-left: 3px solid var(--c-text-3);
    color: var(--c-text-2);

    border-radius: 1.5px;
    margin-left: 0;
    padding-left: 1rem;
}

code:not([data-lang]) {
    background: var(--c-panel-1);
    color: var(--c-mono);

    padding: .1rem .4rem;
    border-radius: 6px;
    font-size: 14px;
}

img {
    width: auto;
    height: 320px;
    border-radius: 8px;
}


// Shortcodes
.img2x1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: fit-content;
}


// Backwards compatibility (amanatides-and-woo.md)
.h-group {
    display: flex;
    flex-wrap: wrap;

    width: fit-content;
    max-width: 100%;
}

figure {
    position: relative;
    margin-bottom: 2rem;
    padding: 1rem 1rem 0.65rem 1rem;
    background: var(--c-code-bg);
    border-radius: 8px;
    width: fit-content;
}

figure:after {
    position: absolute;
    bottom: -12px;
    left: -12px;
    transform: translateY(50%);
    content: attr(title);
    color: var(--c-text-2);
    font-style: italic;
    font-size: 16px;
    background-color: var(--bg);
    padding: 0.2em 0.8em;
    border-radius: 6px;
    transition: color 0.1s;
    white-space: nowrap;
}
