.post-sub {
    font-family: "Monocraft", monospace;
    font-size: 14px;
    color: var(--c-text-2);
    margin: 0 0 1rem 0;
}

.post-title {
    margin-bottom: 0.5rem;
}

main {
    border-left: 2px solid var(--c-panel-1);
    border-right: 2px solid var(--c-panel-1);
}
