.posts {
    margin-top: 2rem;
}

.latest {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;

    > p {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 16px;
        margin: 64px 0 32px 0;
        width: 100%;
        border-bottom: 1px solid var(--c-panel-2);
        font-style: italic;
        gap: 8px;
        color: var(--c-text-2);
    }
}

.post {
    position: relative;
    width: 100%;
    max-width: 640px;
    background: var(--c-panel-1);
    padding: 1.0rem;
    border-radius: 12px;
    margin-bottom: 16px;
    line-height: 18px;

    header { 
        h2 {
            margin: 0;
            display: inline-flex;
            gap: 12px;

            .ico {
                background: var(--c-text-2);
            }
        }

        .tags {
            display: flex;
            gap: 8px;
            margin: 8px 0;

            overflow-x: scroll;
            /* Hide scrollbar for Chrome, Safari and Opera */
            &::-webkit-scrollbar {
                display: none;
            }
            
            /* Hide scrollbar for IE, Edge and Firefox */
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    }

    footer {
        color: var(--c-text-2);

        p {
            margin-block-end: 0;
        }

        .date {
            font-family: "Monocraft", monospace;
            font-style: italic;
            font-size: 14px;
            color: var(--c-text-3);
        }
    }
}

.post-link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
