.projects {
    margin-top: 2rem;

    > p {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 16px;
        margin: 0 0 32px 0;
        width: 100%;
        border-bottom: 1px solid var(--c-panel-2);
        font-style: italic;
        gap: 8px;
        color: var(--c-text-2);
    }

    .cards {
        grid-column: 2 / span 12;
        display: grid;
        grid-template-columns: repeat(12, auto);
        grid-gap: 40px;
    }
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 100%;
    background: var(--c-panel-1);
    color: var(--c-stone-100);
    padding: 1.0rem;
    border-radius: 12px;
    line-height: 18px;
    grid-column-end: span 4;
    overflow: hidden;
    border: 3px solid var(--c-panel-1);

    .thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;

        &:after {
            content:'';
            position:absolute;
            left:0; top:0;
            width:100%; height:100%;
            display:inline-block;
            background: linear-gradient(160deg, #000 0%, rgba(0,0,0,0) 70%);
        }
    }

    header { 
        position: relative;

        h2 {
            margin: 0;
            font-weight: 900;
        }

        p {
            margin-block-end: 0;
            font-size: 14px;
            font-weight: 500;
        }
    }

    footer {
        position: relative;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        .info {
            display: inline-flex;
            font-weight: bold;
            gap: 16px;
            margin: 32px 0 0 0;
            font-size: 14px;

            .team {
                display: inline-flex;
                align-items: center;
                gap: 8px;
            }
            .duration {
                display: inline-flex;
                align-items: center;
                gap: 8px;
            }
        }

        .tags {
            display: flex;
            gap: 8px;
            margin: 8px 0 0 0;

            overflow-x: scroll;
            /* Hide scrollbar for Chrome, Safari and Opera */
            &::-webkit-scrollbar {
                display: none;
            }
            
            /* Hide scrollbar for IE, Edge and Firefox */
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */

            .tag {
                backdrop-filter: blur(16px);
                font-size: 14px;
                padding: 2px 9px;
            }
        }
    }
}

.project-link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

@media only screen and (max-width: 1100px) {
    .project {
        grid-column-end: span 6;
    }
}

@media only screen and (max-width: 700px) {
    main {
        grid-gap: 20px;
    }
    .project {
        grid-column-end: span 12;
    }
}

@media only screen and (max-width: 500px) {
    main {
        grid-template-columns: 10px repeat(6, 1fr) 10px;
        grid-gap: 10px;
    }
    .projects .cards {
        grid-column: 2 / span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }
    .project {
        grid-column-end: span 6;
    }
}
